@tailwind base;
@tailwind components;
@tailwind utilities;

input:focus-visible {
  outline: none;
}

:root {
  font-family: Inter, sans-serif;
  font-feature-settings: "liga" 1, "calt" 1; /* fix for Chrome */
  color: white;
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;
  }
}
/* .border {
  border: 1px solid var(--primary-border-color);
} */
/* 
.border-bottom {
  border-bottom: 1px solid var(--primary-border-color);
} */

.MuiPaper-root {
  background-color: #353535 !important;
}
.MuiTypography-root {
  color: #e5e5e5 !important;
}
.MuiPickersDay-root {
  border-color: #e5e5e5 !important;
  color: #e5e5e5 !important;
}
.MuiSvgIcon-root {
  color: #e5e5e5 !important;
}
.MuiInputBase-root {
  color: #e5e5e5 !important;
}

.MuiDateRangeCalendar-root
  > div:first-child:not(.MuiDateRangeCalendar-monthContainer) {
  display: none;
}

@keyframes wiggle {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(5px);
  }
}
.animate-wiggle {
  animation: wiggle 1s ease-in-out infinite;
}

ion-header {
  background-color: var(--primary-color);
}
